:root {
    --main-text-color: #4f5a65;
    --secondary-text-color: #2a2a2a;
    --code-background-color: #e4e4e4;
    --box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    --max-width-body: 1300px;
    --max-width-container: 800px;
    --max-width-item: 300px;
}

body {
    padding: 1rem;
    line-height: 1.5;
    color: var(--main-text-color);
    max-width: var(--max-width-body);
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: var(--code-background-color);
}

h1 {
    color: var(--secondary-text-color);
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
}

.nav-header {
    text-align: center;
    margin: 0 auto;
    grid-column: 1/-1;
    width: 100%;
}

.nav-link {
    padding: 1rem 0;
    text-align: center;
    max-width: var(--max-width-item);
    width: 100%;
}

.header-link:hover {
    padding: .3rem 0 .3rem 0;  
}

.contents-button {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: var(--code-background-color);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: var(--max-width-item);
    margin: 0 auto;
    border-radius: 0;
    border: none;
    padding-top: .1rem;
    margin-bottom: 1rem;
    height: 3rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.section-title {
    color: var(--secondary-text-color);
}

code {
    color: var(--secondary-text-color);
    background-color: var(--code-background-color);
    padding: .1rem .2rem 0 .2rem;
    margin: 0 .2rem;
    box-shadow: var(--box-shadow);
    font-weight: bold;
}

pre code {
    box-shadow: none;
}

pre {
    background-color: var(--code-background-color);
    padding: 1rem;
    white-space: pre-wrap;
    box-shadow: var(--box-shadow);   
}

img {
    max-width: 100%;
}

.grid-properties {
    display: grid;
    justify-items: center;
}

.value {
    font-weight: bold;
}

@media only screen and (min-width: 575px) {
    .grid-properties {
        grid-template-columns: 1fr 1fr;
    }

    .container-prop-header {
        grid-column: 1/2;
        grid-row: 1;
    }

    .item-prop-header {
        grid-column: 2/3;
        grid-row: 1;
    }
}

@media only screen and (min-width: 775px) {
    .contents-button {
        display: none;
    }

    nav {
        overflow: scroll;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--max-width-item);
        height: 100%;
    }

    .nav-link {
        display: inline;
    }
    
    .nav-header {
        background-color: var(--code-background-color);
        border-bottom: 3px double var(--secondary-text-color);
    }
    
    main {
        position: absolute;
        top: 0;
        margin-left: 17.6rem;
        border-left: 3px double var(--secondary-text-color);
        padding: 0 2rem;
        max-width: var(--max-width-body);
    }

    pre {
        max-width: var(--max-width-container);
    }

    .grid-properties {
        max-width: var(--max-width-container);
        justify-items: start;
    }
}

@media only screen and (min-height: 670px) and (min-width: 775px) {
    nav {
        overflow: auto;
        height: auto;
    }
}
